DATA_SOURCE_NAME=postgresql://{{ postgres_exporter_user }}:{{ postgres_exporter_password | urlencode }}@127.0.0.1:{{ postgresql_port }}/postgres?sslmode=require
ARGS=--web.listen-address=0.0.0.0:{{ postgres_exporter_port }}

