# Managed by Ansible for Ubuntu 24.04's Python exporter.
host = 0.0.0.0
port = {{ pgbouncer_exporter_port }}
pgbouncer-port = {{ pgbouncer_listen_port }}
pgbouncer-user = pgbouncer_exporter
pgbouncer-host = 127.0.0.1

