# Managed by Ansible.
*.* action(
  type="omfwd"
  target="{{ logstash_ip }}"
  port="{{ logstash_port }}"
  protocol="tcp"
  action.resumeRetryCount="-1"
  queue.type="linkedList"
  queue.saveOnShutdown="on"
)

