[defaults]
inventory = ./inventories/uat_hosts.ini
roles_path = ./roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
stdout_callback = ansible.builtin.default
callback_result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_method = sudo
